{% extends 'base.html.twig' %}

{% block titre %}{% endblock %}
{% block title %}Registraion Form{% endblock %}

{% block body %}
    <h1>Registraion Form</h1>

    {{ include('registration_form/_form.html.twig') }}

{% endblock %}
